@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <div class="w-75 bg-light p-5 d-flex w-75 gap-4 flex-column">
        <h4>Uh Oh, Seems like you are in the wrong place!</h4>
        <a class="btn btn primary" asp-action="Index" asp-area="" asp-controller="User">Head Back Now!</a>
    </div>
}
