@model Business.Models.UserModel

    <form asp-controller="Home" asp-area="Account" asp-action="Register" method="post" class="w-75 bg-light p-5 d-flex w-75 gap-4 flex-column">
        <h4>Please register or login to continue!</h4>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
   <input asp-for="RoleId" type="number" style="display: none" value=2 />
    <button type="submit" class="btn btn-primary">Register</button>
    <a asp-action="Login" asp-area="Account" asp-controller="Home">Already Have an Account?</a>
</form>
