@model Business.Models.RoleModel

<form asp-controller="User" asp-action="AddRole" method="post" class="w-75 bg-light p-5 d-flex w-75 gap-4 flex-column">
    <h4>Add A New Role:</h4>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Confirm Changes</button>
    <a asp-action="Index" asp-controller="User" class="btn btn-secondary">Go Back</a>
</form>
