@model Business.Models.UserModel

<form asp-controller="User" asp-action="EditAccount" method="post" class="w-75 bg-light p-5 d-flex w-75 gap-4 flex-column">
    <h4>Update Your Account:</h4>
    <span class="text-danger">You will have to login again for the changes to take effect!</span>
    <input asp-for="Id" style="display:none" />
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" readonly class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" value=@(Model.Password) />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <input asp-for="RoleId" type="text" class="form-control" style="display:none" />
    <span asp-validation-for="RoleId" class="text-danger"></span>

    </div>
    <button type="submit" class="btn btn-primary">Confirm Changes</button>
    <a asp-action="Index" asp-controller="User" class="btn btn-secondary">Go Back</a>
</form>
